[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pecan = "*"
jsonschema = "*"
requests = "*"
hashfs = "*"
maya = "*"
awesome-slugify = "*"
boto3 = "*"
sqlalchemy = "*"
pymysql = "*"
jsl = "*"

[dev-packages]
watchdog = "*"

[packages.345613f]
path = "./../../microformats2"
